*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
h3,
h4,
p,
span,
form,
fieldset,
nav,
header,
footer,
section,
summary,
blockquote,
dl,
dd,
ol,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}